* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.top-section {
  background-image: url(../image/chicago.jpg);
  background-size: cover;
}
.top-section li {
  display: inline-block;
}
.top-section li a {
  text-decoration: none;
  font-size: large;
  font-weight: 300;
  font-family: "roboto";
  padding: 12px 14px;
  display: inline-block;
  color: #fff;
}
.top-section li a:hover {
  background-color: #fff;
  color: #ff0000;
}

.text {
  color: aqua;
  text-align: center;
  margin-top: 40%;
}
.text h2 {
  margin-bottom: 50px;
}
.text p {
  padding-bottom: 30px;
}
.nav {
  background-color: #000;
}






.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.first-container h2 {
  text-align: center;
  margin-top: 80px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 500;
  font-size: xx-large;
}
.first-container span {
  font-style: italic;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  display: block;
  padding: 20px;
}
.first-container p {
  text-align: justify;
}
.container .card h3 {
  text-align: center;
  margin-bottom: 20px;
}





.date-container {
  background-color: #000;
}
.a-row {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 64px 16px;
}
.card img {
  width: 60%;
  border-radius: 5px;
}
.container {
  padding: 64px 16px;
}
.card-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 32px 0px;
}
.card {
  text-align: center;
}
.text-container h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.text-container p {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-style: italic;
  padding: 20px 0px;
}
.booking-wrapper {
  background-color: #fff;
}
.booking-month:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.booking-month {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  position: relative;
}
.badge {
  background-color: #f44336;
  color: #fff;
  padding: 0 8px;
  margin-left: 16px;
}
.badge-circle {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #000;
  color: #fff;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.second-card {
  background-color:#fff ;
  color: #000000;
}
.btn{
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}
.second-card-wrapper{
  display: flex;
}
.card-body h3{
  margin: 15px 0;
}
.second-card-wrapper img{
  width: 100%;
}
.card-body h4{
  margin: 15px 0;
}
.card-body p{
  margin: 15px 0;
}
.card-body{
  padding: 0.15px 16px;
}
.card-body a{
  margin: 0 0 16px 0;
  padding: 8px 16px;
}
.card-body .btn:hover{
  background-color:#f77171;
  color: #000000;
}
.full-card{

  margin: 0 0 16px 0;
  padding: 0 8px;
}
.second-card-wrapper{
  padding: 32px 0;
}







.last-section{
  padding: 64px 16px;
  margin: 0 360.4px;
}
.last-section h2 {
  text-align: center;
  margin: 10px 0;
}
.last-section h4 {
  text-align: center;
  margin: 15px 0;
}
.last-section {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.form-field button{
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  border: none;
}
.icon-field i{
  margin: 0 20px;
}
.icon-field p{
  padding: 3px;
}
.b-row{
  width: 50%;
}



